
@*@{         __o = Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 9 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" });


#line default
#line hidden

#line 10 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" });


#line default
#line hidden

#line 11 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 12 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" });


#line default
#line hidden

#line 13 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" });


#line default
#line hidden

#line 14 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 15 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" });


#line default
#line hidden

#line 16 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.LabelFor(model => model.InstructorId, htmlAttributes: new { @class="control-label col-md-2"});


#line default
#line hidden

#line 17 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
        __o = Html.DropDownList("InstructorId", Model.InstructorId, htmlAttributes: new { });


#line default
#line hidden

#line 18 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"

    }

#line default
#line hidden

#line 19 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
    __o = Html.ActionLink("Back to List", }

#line default
#line hidden

#line 19 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
    __o = Html.ActionLink("Back to List", }

#line default
#line hidden

#line 19 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
    __o = Html.ActionLink("Back to List", }

#line default
#line hidden

#line 18 "C:\Users\liuting\source\repos\MVC\Contoso\Contoso.MVC\Views\Department\Create.cshtml"
    __o = Html.ActionLink("Back to List", "Index");
}

<h2>Create</h2>
<form  method="post">
    Name <input type="text" name="Name" value="" />
    <br />
    Budgt <input type="number" name="Budget" value="" />
    <br />
    StartDate <input type="date" name="StartDate" value="" />
    <br />
    <input type="submit" name="saveDepartment" value="save" class="btn btn-primary"/>
</form>*@

